<div style="margin-bottom: 20px;">
    <div class="row" style="margin: auto;">

        <div class="col-lg-3">
            <input value="Categories" class="btn btn-primary" type="button" routerLink="/categories">
        </div>
        <div class="col-lg-3">
            <input value="subCategories" class="btn btn-info" type="button" routerLink="/subcategories">
        </div>
        <div class="col-lg-3">
            <input value="Products" class="btn btn-danger" type="button" routerLink="/products">
        </div>
        <div class="col-lg-3">
            <input value="Users" class="btn btn-success" type="button" routerLink="/users">
        </div>
    </div>
</div>