<button class="btn btn-success" *ngIf="user.currentUser()?.isadmin"
    (click)="change();already=false;cant=false">creat_Sub</button>
<div class="bg-model" *ngIf="already">
    <div class="model-content">
        <div class="close" (click)="alreadyfun();changed=false">+</div>
        <div style=" margin: 70px auto;font-size: x-large;">this sub name is already exist</div>
    </div>
</div>
<div class="bg-model" *ngIf="cant">
    <div class="model-content">
        <div class="close" (click)=" cantfun()">+</div>
        <div style=" margin: 70px auto;font-size: x-large;">this sub has products</div>
    </div>
</div>
<div class="bg-model" *ngIf="changed">
    <div class="model-content">
        <div class="close" (click)="change()">+</div>
        <form #f="ngForm" (ngSubmit)="create(f.value)">
            <input type="text" name="name" #name="ngModel" ngModel placeholder="enter sub name" class="form-control"
                required>
            <div class="form-group">
                <select ngModel required name="category" #category="ngModel">
                    <option *ngFor="let category of categories" [value]="category._id">{{category.name}} </option>
                </select>
            </div>
            <input type="submit" value="create" class="btn btn-primary" [disabled]=" f.invalid ">
        </form>
    </div>
</div>
<div class="bg-model" *ngIf="changed1">
    <div class="model-content">
        <div class="close" (click)="changedfun1()">+</div>
        <form #f="ngForm" (ngSubmit)="edit(f.value)">
            <input type="text" name="name" #name="ngModel" [ngModel]="subcate.name" required class="form-control">
            <div class="form-group">
                <select [(ngModel)]="subcate.category._id" name="category" #category="ngModel">
                    <option *ngFor="let category of categories" [value]="category._id">{{category.name}} </option>
                </select>
            </div>
            <input type="submit" value="Edit" class="btn btn-primary" [disabled]="f.invalid">
        </form>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 card-body" *ngFor="let subCate of subCates">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <h4>name: {{subCate?.name}} </h4>
                <h4 style="display: inline-block;">nameCategory: {{subCate?.category.name}}</h4>
                <span *ngIf="user.currentUser()?.isadmin" class="glyphicon glyphicon-edit"
                    style="color:green; font-size: 35px; cursor: pointer;float:right;margin: 5px;"
                    (click)="changedfun1();values(subCate)">
                </span>
                <span *ngIf="user.currentUser()?.isadmin" class="glyphicon glyphicon-remove"
                    style="color:red; font-size: 35px; cursor: pointer;float:right;margin: 5px;"
                    (click)="removefun(subCate)"></span>
            </li>

        </ul>
    </div>
</div>